#otherText{
	-fx-opacity:100%;
}

#gameText{
	-fx-opacity:100%;
}

#gameImage{
	-fx-background-image:url("reversiImage.jpg");
}

#gameImage1{
	-fx-background-image:url("TTTImage2.gif");
}

#gameImage2{
	-fx-background-image:url("connect4Image.jpg");
}

#scrollPane {
	/*-fx-background-color: rgba(0,0,0,1);*/
	-fx-background: transparent;
	/*-fx-background-insets: 0;*/
	-fx-padding:0.5;
	-fx-font: 15px "Serif";

}

#users {
	-fx-font:15px "Serif";
	-fx-text-fill:white;
}