#topText {
    -fx-font: 40px "Serif";
    -fx-text-fill:teal;
}

#otherText{
	-fx-font:22px "Serif";
	-fx-text-fill:teal;
}

#gameText{
	-fx-font:20px "Serif";
	-fx-text-fill:teal;
}

#gameImage{
	-fx-background-image:url("reversiImage.jpg");
}

#gameImage1{
	-fx-background-image:url("TTTImage2.gif");
}

#gameImage2{
	-fx-background-image:url("connect4Image.jpg");
}

#scrollPane {
	-fx-background: #FBB117;
	-fx-background-insets: 0;
	-fx-padding:0;

}

#users {
	-fx-font:15px "Serif";
	-fx-text-fill:teal;
}