#topText {
    -fx-font: 40px "Serif";
    -fx-text-fill:teal;
}

#otherText{
	-fx-font:28px "Serif";
	-fx-text-fill:teal;
}

#gameText{
	-fx-font:20px "Serif";
	-fx-text-fill:teal;
}

#gameButton0{
	-fx-background-image:url("reversiImage.jpg");
}

#gameButton0:hover {
	-fx-border-color: teal;
	-fx-border-outsets: 5;
	-fx-border-width: 5;
    -fx-border-style: solid;
}

#gameButton1{
	-fx-background-color:#FBB117;
	-fx-background-image:url("TTTImage2.gif");
}

#gameButton1:hover {
	-fx-border-color: teal;
	-fx-border-outsets: 5;
	-fx-border-width: 5;
    -fx-border-style: solid;
}

#gameButton2{
	-fx-background-image:url("connect4Image.jpg");
}


#gameButton2:hover {
	-fx-border-color: teal;
	-fx-border-outsets: 5;
	-fx-border-width: 5;
    -fx-border-style: solid;
}