.root {
	-fx-background-image: url("../wallpaper.jpeg");
	-fx-background-size: cover;
}

.lobby_pane {
    -fx-margin: 20px;
}

.lobby_pane, .lobby_description {
    -fx-text-fill: #fff;
    -fx-font: 125% "Noto Sans", Arial;
}

.top_label {
    -fx-background-color: #77996955;
    -fx-font: 175% "Noto Sans", Arial;
    -fx-width: inherit;
}

.lobby_pane_content {
    -fx-background-color: #52604cbb;
}

.top_label, .lobby_pane_content {
    -fx-padding: 25px;
    -fx-text-fill: #e0efda;
}

.no_padding {
    -fx-padding: 0;
}

.lobby_head {
    -fx-padding: 10px;
    -fx-font: 125% "Noto Sans", Arial;
    -fx-text-fill: #e0efda;
    -fx-background-color: #717f6c;

 /*   -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #c9ddc1;*/
}

#online_users {
    -fx-text-fill: #e0efda;
    -fx-padding: 1px 0 0 0;
/*    -fx-min-height: 250px;
    -fx-pref-height: 250px;
    -fx-max-height: 250px;*/
}

.online_user, .empty_online_player {
    -fx-padding: 3px;
    -fx-font: 85% "Noto Sans", Arial;
    -fx-text-fill: #e0efda;
}

.empty_online_player {
    -fx-background-color: #363d32bb;
}

.option {
    -fx-background-color: #2d352a;
    -fx-padding: 5px;
    -fx-font: 85% "Noto Sans", Arial;
    -fx-text-fill: #cbd6c7;
}

.option_selected {
    -fx-background-color: #6c7f64;
}