.root {
	-fx-background-image: url("../wallpaper.jpeg");
	-fx-background-size: cover;
}

#lobby_pane {
    -fx-margin: 20px;
}

#lobby_pane, #lobby_description {
    -fx-text-fill: #fff;
    -fx-font: 125% Arial;
}

#top_label {
    -fx-background-color: #77996955;
    -fx-font: 175% Arial;
    -fx-width: inherit;
}

#lobby_pane_content {
    -fx-background-color: #52604cbb;
}

#top_label, #lobby_pane_content {
    -fx-padding: 25px;
    -fx-text-fill: #fff;
}

.lobby_head {
    -fx-padding: 10px;
    -fx-font: 125% Arial;
    -fx-text-fill: #fff;
    -fx-background-color: #717f6c;

 /*   -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #c9ddc1;*/
}

.option {
    -fx-background-color: #2d352a;
    -fx-padding: 5px;
    -fx-font: 85% Arial;
    -fx-text-fill: #fff;
}

.option_selected {
    -fx-background-color: #6c7f64;
}