#gameInfo {
	/*-fx-bac32kground-color:blue;*/
}

#bottomPane {
	/*-fx-background-color:purple;*/
}

/*Top*/
#titleText {
	-fx-font:25px "Serif";
	-fx-text-fill:teal;
}

#errorStatus {
	-fx-font:16px "Serif";
	-fx-text-fill:red;
}

#timer {
	-fx-font:20px "Serif";
	-fx-text-fill:teal;
}

/*Player1*/
#p1info{
	-fx-background-color: rgba(41,56,79,0.5);
	/*-fx-font: 45px "Serif";*/
	/*-fx-text-fill:teal;*/
}

.titles{
	-fx-font:45px "Serif";
	-fx-text-fill:rgba(242,209,166);
}

/*Player2*/
#p2info {
	-fx-background-color: rgba(41,56,79,0.5);
	-fx-font: 45px "Serif";
	/*-fx-text-fill:tea;*/
}

/*Common*/
.players {
	-fx-font: 30px "Serif";
	-fx-text-fill:rgba(242,209,166);
}

#playerScore {
	-fx-font: 30px "Serif";
	-fx-text-fill:rgba(242,209,166);
}


#white{
	-fx-background-image:url("white1.png");
}

#black{
	-fx-background-image:url("black1.png");
}

/*Bottom*/
#rageQuit{
	-fx-background-image:url("maximumRage.jpg");
}

#Hanze{
	-fx-background-image:url("hanzeMeme.jpg");	
	-fx-opacity:0.2;
}

